@use 'base/variables';
@use 'base/mixins';

@include mixins.tablet {

    .contenedor-anuncios {
        @include mixins.grid(3,2rem);
    }
}

.anuncio{
    background-color: lighten(variables.$gris,  5);
    border: 1px solid darken( variables.$grisOscuro,  10);
    width: 40rem;

    .contenido-anuncio {
        padding: 2rem;
    }

    h3,p {
    display: -webkit-box;
    -webkit-line-clamp: 4;       /* Límite de 4 líneas */
    -webkit-box-orient: vertical;  
    overflow: hidden;            /* Oculta el texto que se pasa de las 4 líneas */

    /* 👇 ESTA ES LA LÍNEA QUE NECESITAS AÑADIR 👇 */
    overflow-wrap: break-word; /* Corta palabras largas para evitar desbordamiento */


    }
}
.precio{
    color: variables.$verde;
    font-size: 3rem;
}

.iconos-caracteristicas{
    display: flex;
    list-style: none;
    padding: 0;
    max-width: 40rem;

    li{
        flex: 1;
        display: flex;
        img{
            flex: 0 0 5rem;
            margin-right: 1rem;
        }
        p{
            font-weight: variables.$black;
        }
    }
}